<style type="text/css">
#bgs {
	margin: 0; padding: 0;
	width: 100%;
	margin-bottom: 200px;
}
#bgs li {
	margin: 0 0 40px 0; padding: 0;
	width: 49%;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	list-style-type: none;
	font-size: 24px;
}
#bgs li.selected {
	font-weight: bold;
}
#bgs li img {
	margin: 0 auto;
	display: block;
	width: 80%;
	margin-bottom: 10px;
	border: 5px solid white;
	box-shadow: 0 1px 2px #888;
	opacity: 0.6;
	background: #fff;
}
#bgs li.selected img {
	opacity: 1.0;
}


</style>
<b>UPLOAD AN IMAGE</b>
<Br><Br>
<%= form_for( Background.new, :url => "/bgz/" ) do |bg| %>
  <div>
    <%= bg.label :name %>
    <%= bg.text_field :name %>
  </div>

	<div>
		<%= bg.label :bg %>
		<%= bg.file_field :bg %>
	</div>
	
  <div>
    <label></label>
    <%= bg.submit %>
  </div>
  
<% end %>

<Br><Br>
<Br><Br>
<Br><Br>
<Br><Br>

<ul id="bgs">
	<% @bgs.each do |bg| %>
		<li>
			<%= image_tag bg.bg.url(:thumb) %>
			<%= bg.name %>
		</li>
	<% end %>
</ul>