<div id="gallery">
	<div class="prev">
		<h5>styleblaster.net/<%= @region.name %></h5>
		.
		<%= @photos.first.created_at.strftime("%A, %B %d, %Y @ %l:%M %p") %>
	</div>
	<a class="next" href="/<%= @region.name %>/gallery/<%= @next_id %>">next page &rarr;</a>
	<div class="items">
		<% @photos.each do |photo| %>
		<%= link_to image_tag(photo.photo.url), "/#{@region.name}/p/#{photo.id}" %>
		<% end %>
	</div>
</div>
