<h2><img src="/assets/tophat.png"> Regions</h2>
<a href="/r/new">+ New region</a>
<br>
<% @regions.each do |region| %>
<span>
  <a href="/r/<%= region.name %>/edit">edit</a>
</span>
<span>
  <big><%= link_to region.name, region.path %></big>
</span>
<span>
  <%= region.css == "" ? "x" : "css" %>
</span>
<span>
  <%= region.manifesto == "" ? "x" : "manifesto" %>
</span>
<span style="width: 100px; text-align: right;">
  <%= region.photos.count %> photos&nbsp;&nbsp;&nbsp;
</span>
<span style="width: 300px;">
  <%= link_to "latest", region.path + "latest" %>
  <%= link_to "random", region.path + "random" %>
  <%= link_to "top scores", region.path + "top" %>
  <%= link_to "today", region.path + "today" %>
</span>
<span style="width: 200px;">
  <%= region.photos.count > 0 && region.photos.order("id DESC").first.created_at %>
</span>
  <br>
<% end %>

<style>
big { display: inline-block; width: 150px;}
span { display: inline-block; width: 95px; font-size: 13px;}
h2 img { margin-bottom: -10px;margin-right:5px;width:50px; }
</style>
