<a href="/r/new">+ New region</a>

<% @regions.each do |region| %>
  <h2><%= region.title %></h2>
  <a href="/r/<%= region.name %>/edit">edit</a>
  <%= region.name %>
  <%= region.css.nil? ? "x" : "css" %>
  <%= region.manifesto.nil? ? "x" : "manifesto" %>
  <br>
<% end %>
