<h2><img src="/assets/tophat.png"> Regions</h2>
<tt><a href="/r/new">+ New region</a>
<br>
<% @regions.each do |region| %>
  <a href="/r/<%= region.name %>/edit">edit</a>
  &middot;
  <%= region.name %>
  &middot;
  <big><%= link_to region.title, region.path %></big>
<span>
  <%= region.css == "" ? "x" : "css" %>
</span>
<span>
  <%= region.manifesto == "" ? "x" : "manifesto" %>
</span>
<span style="width: 200px;">
  <%= region.photos.count %> photos
</span>
<span style="width: 300px;">
  <%= link_to "latest", region.path + "/latest" %>
  <%= link_to "random", region.path + "/random" %>
  <%= link_to "top scores", region.path + "/top" %>
  <%= link_to "today", region.path + "/today" %>
</span>
  <br>
<% end %>

<style>
big { display: inline-block; width: 150px;}
span { display: inline-block; width: 55px; font-size: 10px;}
h2 img { margin-bottom: -10px;margin-right:5px;width:50px; }
</style>