<article>
<h2><img src="/assets/tophat.png" width="50" height="43"> Regions</h2>
<a href="/r/new">+ New region</a>
<br>
<% @regions.each do |region| %>
<span>
  <a href="/r/<%= region.name %>/edit">edit</a>
</span>
<span>
  <big><%= link_to region.name, region.path %></big>
</span>
<span>
  <%= region.css == "" ? "" : "css" %>
</span>
<span>
  <%= region.manifesto == "" ? "" : "manifesto" %>
</span>
<span style="width: 100px; text-align: right;">
  <%= region.photos.count %> photos&nbsp;&nbsp;&nbsp;
</span>
<span style="width: 300px;">
  <%= link_to "latest", region.path + "latest" %>
  &middot;
  <%= link_to "top", region.path + "top" %>
  &middot;
  <%= link_to "gallery", region.path + "gallery" %>
  &middot;
  <%= link_to "random", region.path + "random" %>
</span>
<span style="width: 200px;">
  <%= region.photos.count > 0 && region.photos.order("id DESC").first.created_at.strftime("%e %B %Y - %l:%M%P") %>
</span>
  <br>
<% end %>
</article>

<style>
article { padding: 10px; }
big { display: inline-block; width: 150px;}
span { display: inline-block; width: 95px; font-size: 13px;}
h2 img { margin-bottom: -10px;margin-right:5px;width:50px; }
</style>
